<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.roy.mapper.RoleMapper">

    <select id="getRolesInfo" resultType="com.roy.entity.RoleInfoDTO">
       SELECT 
    r.id,
    r.name,
    r.description,
    COUNT(DISTINCT rp.permission_id) AS statusOneCount,
    COUNT(DISTINCT u.id) AS userCount
FROM 
    role r
LEFT JOIN 
    role_permission rp ON r.id = rp.role_id AND rp.status = 1
LEFT JOIN 
    user u ON r.name COLLATE utf8mb4_0900_ai_ci = u.role COLLATE utf8mb4_0900_ai_ci
GROUP BY 
    r.id, r.name, r.description
ORDER BY 
    r.id;
    </select>

    <select id="getRoleInfoById" resultType="com.roy.entity.RoleInfoDTO">
        SELECT 
            r.id,
            r.name,
            r.description,
            COUNT(DISTINCT rp.permission_id) AS statusOneCount,
            COUNT(DISTINCT u.id) AS userCount
        FROM 
            role r
        LEFT JOIN 
            role_permission rp ON r.id = rp.role_id AND rp.status = 1
        LEFT JOIN 
            user u ON r.name COLLATE utf8mb4_0900_ai_ci = u.role COLLATE utf8mb4_0900_ai_ci
        WHERE
            r.id = #{id}
        GROUP BY 
            r.id, r.name, r.description
    </select>

    <update id="updateRoleInfo" parameterType="com.roy.entity.RoleInfoDTO">
        UPDATE role
        SET
            name = #{name},
            description = #{description}
        WHERE
            id = #{id}
    </update>


    <select id="getRoleIdByName" resultType="java.lang.Long">
        SELECT id FROM role WHERE name = #{name}
    </select>

    <select id="getRolesInfov" resultType="com.roy.entity.RoleInfoDTO">
        SELECT r.id,
               r.name,
               r.description,
               COUNT(DISTINCT rp.permission_id) AS statusOneCount,
               COUNT(DISTINCT u.id)             AS userCount
        FROM role r
                 LEFT JOIN
             role_permission rp ON r.id = rp.role_id AND rp.status = 1
                 LEFT JOIN
             user u ON r.name COLLATE utf8mb4_0900_ai_ci = u.role COLLATE utf8mb4_0900_ai_ci
        GROUP BY r.id, r.name, r.description
        ORDER BY r.id;
    </select>

    <update id="updateUserStatusByRole">
        UPDATE user
        SET status = #{status}
        WHERE role = #{roleName}
    </update>

</mapper>
